
.vs/NewOscylMeasSoft/v15/Server/sqlite3/storage.ide
.vs/NewOscylMeasSoft/v15/.suo
.vs/NewOscylMeasSoft/v16/Server/sqlite3/storage.ide-wal
.vs/NewOscylMeasSoft/v16/Server/sqlite3/storage.ide-shm
.vs/NewOscylMeasSoft/v16/.suo
NewOscylMeasSoft/bin/Debug/NewOscylMeasSoft.exe
NewOscylMeasSoft/bin/Debug/NewOscylMeasSoft.pdb
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.csprojAssemblyReference.cache
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.exe
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.pdb
.vs/NewOscylMeasSoft/v16/.suo
NewOscylMeasSoft/bin/Debug/NewOscylMeasSoft.exe
NewOscylMeasSoft/bin/Debug/NewOscylMeasSoft.pdb
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.csprojAssemblyReference.cache
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.exe
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.pdb
.vs/NewOscylMeasSoft/v16/.suo
.vs/NewOscylMeasSoft/v16/Server/sqlite3/storage.ide
.vs/NewOscylMeasSoft/v16/.suo
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.pdb
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.exe
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.csprojAssemblyReference.cache
NewOscylMeasSoft/obj/Debug/NewOscylMeasSoft.csproj.GenerateResource.cache
NewOscylMeasSoft/bin/Debug/NewOscylMeasSoft.pdb
NewOscylMeasSoft/bin/Debug/NewOscylMeasSoft.exe
.vs/NewOscylMeasSoft/v16/Server/sqlite3/storage.ide
.vs/NewOscylMeasSoft/v16/.suo
